.footerdiv{
    /*background: #0e0d54;*/
    background: black;
    height: auto; 
    margin-top: auto;
    width: 100%;
    overflow: auto;
    
}
.footer-menu
{
    padding-left: 3vh;
    padding-top: 2vh;
    width: 40%;
    float: left;
}

.linkedIn_img
{
    height: 50px;
    width: 50px;
}
ul {
    list-style: none;
  }

  li{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer_Owner{
    float: right;
    padding-top: 15vh;
    padding-right: 2vh;
  }

  .footer_Owner_Text{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }