.footerdiv{
    /*background: #0e0d54;*/
    background: black;
    height: auto; 
    margin-top: auto;
    width: 100%;
}
.footer-menu
{
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-socials{
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_Owner{
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.email_button{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
}
.message{
    margin-top: 5px;
    width: 300px;
    height: 80px;
}
.footer_extra_text{
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkedIn_img
{
    height: 50px;
    width: 50px;
}